html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    /*    max-width: 45em; */
    /*    background-color: #F3EEC3; */
    background-color: #f2f3f4;
}

.menu {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    columns: 2;
    line-height: 2rem;
    list-style: none;
    margin: 0 auto;
    padding: 1.5rem;
}

li {
    font-size: 1.5rem;
    cursor: pointer;
}

.small-container {
    width: 45em;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 0.25rem 0;
}

.container > div {
    width: 65em;
    margin: 0 auto;
    padding: 1em 0;
}

.top {
    clip-path: polygon(0 0,100% 0,100% calc(100% - 5em),50% 100%,0 calc(100% - 5em));
    padding: 0 0 0.5rem 0;
}

.bottom {
    clip-path: polygon(0 0,50% 5em,100% 0,100% 100%,0 100%);
    margin-top: -4.75em;
    padding-top: 4.75rem;
}

p {
    line-height: 1.4em;
}

.big {
    font-size: 1.65em;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.3em;
}

th {
    text-align: left;
}

footer {
    padding: 3rem 0;
}

h1#logo {
    font-family: serif;
    font-style: italic;
    font-size: 7.5em;
    margin: 0em;
}

.sublogo {
    font-family: serif;
    font-style: italic;
}

a:link {
    color: #1D194E;
}

a:visited {
    color: #551a8b;
}

a.offsite:link {
    text-decoration: none;
    border-bottom: 1px dashed #588B8B;
}

a.offsite:visited {
    text-decoration: none;
    border-bottom: 1px dashed #551a8b;
}

.center {
    text-align: center;
}

.blue-box {
    background-color: #87CAD1;
}

.gray-box {
    background-color: #B9C1B4;
}
